/* box model */
/* {
    width: 500px;
    height: 400px;
    margin: 50px;
    padding: 60px;
    border: 10px solid
} */



.box-1 {
    color: rgb(73, 171, 184);
    background-color: #f99;
    width: 400px;
    height: 400px;
    /* padding: 20px; */
     /* top right bottom left  */
     /* padding: 50px 70px 20px 5px; */
     /* padding: 20px 10px 20px 10px; */
     /* padding: 20px 10px; */
     /* padding: 20px 20px 20px 20px; */
     /* padding: 20px 20px; */
     /* padding: 20px; */
     /* padding-top: 50px;
     padding-left: 70px; */
     /* margin: 50px; */
     /* margin: 50px 50px 50px 50px; */
     /* margin: 50px 100px 100px 200px; */
     /* margin-left: 100px; */
     /* width style color */
     border-width: 20px; 
     /* border style = solid, dashed, dotted and double */
     border-style: dashed;
     border-color: rgb(5, 46, 180);

     /* padding-top: 20px;
     padding-right: 30px;
     padding-bottom: 10px;
     padding-left:0px */
     /* padding: 20px 30px 10px 0; */

     /* border-width: 10px;
     border-style: double;
     border-color: #456; */

     /*  width - style - color */
     border: 20px solid rgb(5, 46, 180);
}

.box-2 {
    background-color: #93e3ce;
    width: 400px;
    height: 400px;
}